.changes
  .container
    .row
      .col-xs-10.col-xs-offset-1
        .change
          %h2
            = key_display @req_change.changed_key
          %h3 Original Text
          %p
            = @licensed_practice.get_attribute_val @req_change.changed_key

          %h3 New Text
          %p
            = @req_change.changed_val

          .change-buttons
            %button{class: 'btn btn-success'} Accept
            %button{class: 'btn btn-danger'} Deny

        .comments
          .comment-header
            %p Comments
          .comment-container
            - @comments.each do |comment|
              .comment
                %span
                  %a 
                    = comment.user.email
                  %br
                = comment.content
          .comment-form
            = form_for [@req_change, @comment], remote: true do |f|
              .form-group
                %label
                  %span 
                    %a 
                      = current_user.email
                = f.text_area :content, class: 'form-control comment-text',
                  placeholder: 'Enter your comment...'
                = f.submit
