.container.changes-index
  - if @changes.empty?
    %h2 No Pending Changes
  - else
    %h2
      = "Pending Changes" + (current_user.admin? ? '' : ' Submitted By You')
    %h4
      %ul.unstyled
        - @changes.each do |change|
          %li
            - if current_user.admin?
              = link_to change.jurisdiction.name, change.jurisdiction
              wants to
              modify their
            - else
              You requested a change to the 
            = link_to key_display(change.changed_key), jurisdiction_licensed_practice_path(change.jurisdiction, change.practice_info, changed_key: change.changed_key)
            requirement for the
            = "#{change.practice_info.title} practice#{change.comments.empty? ? '' : ' (' + change.comments.count.to_s + ' comment/s)'}."
